table {
    width: 80%;
    height: 400px;
    margin: auto;
    border-collapse: collapse;
    text-align: center}
th,
td {
    border: 1px solid #000;width:10%;
    }
th,tr>td:first-child{
    background-color: rgb(161, 227, 205);
} 
h1{
    text-align: center;
}