<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프사</title>
    <style>
        #container {
            position: relative;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 15px 15px 50px 8px #000;
        }

        img {
            position: absolute;
            width: 380px;
            top: 0px;
            left: -20px;
        }
    </style>
</head>

<body>
    <div id="container"><img
            src="https://d2u3dcdbebyaiu.cloudfront.net/uploads/atch_img/622/76843f66aec70dbaf11c3f1c11b79736_res.jpeg"
            alt=""></div>
</body>

</html>